@font-face {
  font-family: 'Le murmure';
  src: url('/fonts/Le-Murmure.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: #b1a59f;
  color: #333;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.85rem;
  line-height: 0.85rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

img {
  display: none;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
}

/* 
GRID
*/
.grid {
  position: relative;
  z-index: 3;
}

.grid__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__items__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 24px;
}

.grid__items__link h1 {
  display: inline-block;
  padding-top: 0.9rem;
  font-family: 'Le murmure', sans-serif;
  font-size: 7rem;
  line-height: 6rem;
}

.grid__items__link p {
  margin-top: 0.2rem;
  line-height: 1rem;
}

.grid__items__divider {
  width: 120px;
  height: 2px;
  background-color: #333;
}

.grid__items__divider:nth-child(1) {
  width: 160px;
}

.grid__items__divider:nth-child(3) {
  width: 320px;
}
